@import url("reset.css");

* {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust:none;
}
body, html {
	min-height: 100%;
	font: normal 14px/14px "Helvetica",sans-serif;
	color:  #fff;
	background-color: #000;
}
html {
	position: relative;
}
body{
	height: 100%;
	display: block;
}

#container {
	position: absolute;
	height: 306px;
	width: 500px;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-top: -153px;
	margin-left: -250px;
	box-sizing: border-box;
}

html.article #container {
	position: relative;
	left: auto;
	top: auto;
	height: auto;
	margin: 50px auto 20px auto;
}

h1, h2, h3, p {
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 14px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

h1 {
	margin: 0 0 5px 0;
	font-size: 14px;
	line-height: 18px;
}

.nostyle {
	display: inherit;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	background: none;
	border: none;
	box-shadow: none;
	text-shadow: none;
}

#logo {
	overflow: hidden;
	width: 113px;
	height: 0;
	padding-top: 113px;
	margin: 0px auto 40px auto;
	
	background-size: 113px 113px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url('../images/logo.png');
}

p {
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px 0;
	color: #636363;
}
	p a {
		display: inline-block;
		border-radius: 2px;
		font-weight: bold;
		text-decoration: none;
		color: #3a5d89;
	}
	b, strong {
		font-weight: bold;
		color: #dc2828;
	}
	
a {
	display: block;
	text-transform: uppercase;
	color: #000;
	line-height: 14px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	margin-top: 40px;
	background-color: #fff;
	border-radius: 24px;
	padding: 15px 30px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.7), 0 0 0 5px rgba(255,255,255,0.1);
}
	a:hover {
		background-color: rgba(255,255,255,0.1);
		color: #fff;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.7), 0 0 0 5px rgba(255,255,255,0.15);
	}
a.learnmore {
	font-size: 10px;
	line-height: 10px;
	display: inline-block;
	background-color: rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.8);
	padding: 10px 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: none;
}

#learnmore {
	margin-top: 40px;
}
	#learnmore h1 {
		display: block;
		text-align: left;
		padding-bottom: 5px;
		border-bottom: 2px solid rgba(255,255,255,0.1);
		margin-top: 20px;
	}
	#learnmore p {
		text-align: left;
		font-weight: normal;
		text-transform: none;
		font-size: 12px;
		line-height: 16px;
	}
		#learnmore p a {
			display: inline-block;
			font-size: inherit;
			font-weight: inherit;
			text-transform: inherit;
			color: #fff;
			border-radius: 24px;
			margin: 0;
			text-shadow: none;
			background: none;
			padding: 0;
			text-shadow: none;
			box-shadow:  none;
		}
	
@media only screen and (max-device-width: 480px) {
	html {
		min-height: 416px;
	}
	#container {
		position: relative;
		top: auto;
		left: auto;
		margin: 45px auto 20px auto;
		padding: 0;
		width: 100%;
		padding: 0 10px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}